<ul class="nav justify-content-end">
  <li class="nav-item">
    <%= link_to "Sign Out", destroy_user_session_path, class: 'nav-link btn btn-primary', method: :delete, id: 'font' %>
  </li>
</ul>
</br>
<div class='jumbotron'>
  <h1>Welcome</h1>
  <strong>Stealz routing test for the same constraint on two different TLDs</strong>
</div>

<%= link_to 'Businesses', dashboard_businesses_url(subdomain: 'a'), class: 'btn btn-primary btn-lg', id: 'font' %>
<%= link_to 'Activities', epifany_activities_url(subdomain: 'b'), class: 'btn btn-primary btn-lg', id: 'font' %>
