<h1>Edit Business</h1>

<%= render 'form', business: @business %>

<%= link_to 'Show', dashboard_business_path(@business), class: 'btn btn-success', id: 'font' %> |
<%= link_to 'Back', dashboard_businesses_path, class: 'btn btn-success', id: 'font' %>
